body{
    margin: 0;
    padding: 0;
}
header{
    background: #23232e;
    text-align: center;
    color: white;
    padding: 35px 0px;
}
h2{
    font-size: 45px;
    text-transform: uppercase;
}
header p{
    line-height: 25px;
}
header span{
    border: 2px solid white;
    padding: 8px 11px;
    border-radius: 50%;
    margin-top: 150px;
    display: inline-block; 
}
header img{
    width: 9%;
}
.what-i-do  {
    text-align: center;
    overflow: hidden;
}
.what-i-do > p{
    font-size: 25px;
}
.container{
    padding: 0 25%;
}
.col{
    width: 31.33%;
    margin: 0 1%;
    float: left;
    text-align: left; 
}
.mywork{
    background: #23232e;
    text-align: center;
    color: white;
    overflow: hidden;
    padding-bottom: 25px;
 
}
.mywork .menu a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
.col img{
    width: 100%;
}
.mywork .col {
    text-align: center;
}
button{
    background: #7b77c9;
    padding: 8px 15px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px; 
    margin: 25px; 
}

.myphotography{
text-align: center;
}

.subscribe{
    background-color: #23232e;
    text-align: center;
    color: white;
    padding: 25px 0;
}

.subscribe input{
    padding: 10px 15px;
    border: none;
    border-radius: 5px; 
}
